@import "variables";
@import "mixins";
@import "reboot";

//TODO feedback: 所有的css都放到这一个文件里面了，可以抽取出_header.scss和_main.scss文件，这就是SASS的其中一个功能：partial
.twitter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $basic-padding-y $basic-padding-x;
  border-bottom:1px solid $border-color;
  .btn-login {
    @include btn-varient(transparent,$primary-color)
 }
 .btn-register {
  @include btn-varient($primary-color,white)
 }
}

main {
 margin-top: 30px;
 display: flex;
 align-items: center;
 justify-content: space-around;
 border-radius: 10px;
 height: 100%;
}
.middle-content {
 display: flex;
 justify-content: space-around;
 border-radius: 10px;
 height: 100%;
 @include form-varient(400px,330px);
  ////TODO feedback: 应该多采用class选择器，而不是标签选择器（针对以下所有的标签选择器）
 p {
  align-self: center;
  font-size: 20px;
  color: $white;}
  a {
    @include link-varient($primary-color, $white, none);
    align-items: flex-start;
  }
  .connection-character {
    align-self: center;
    font-size: 10px;
  }
  
  .btn-login1 {
    @include btn-varient(transparent,$primary-color)
 }
 .btn-register1 {
  @include btn-varient($primary-color,white)
 }
  
}
